# {{ ansible_managed }}

# Because we are using logrotate for greater flexibility, disable the
# internal certbot logrotation.
max-log-backups = 0

{% if ubuntu_1804_letsencrypt_admin_email %}
email = {{ ubuntu_1804_letsencrypt_admin_email }}
{% endif %}

authenticator = webroot
webroot-path = {{ ubuntu_1804_letsencrypt_webroot_path }}

{% if ubuntu_1804_letsencrypt_deploy_hook %}
deploy-hook = {{ ubuntu_1804_letsencrypt_deploy_hook }}
{% endif %}

agree-tos = True

keep-until-expiring = True
expand = True
non-interactive = True
